{% extends 'base.html.twig' %}

{% block title %}Profil de {{app.user.username}}{% endblock %}

{% block body %}

<div class="row">
        <div class="col-2">
            {% include "_partials/_sidenav/_profile.html.twig" %}
        </div>

        <div class="col-8">
            {% for message in app.flashes('message') %}
                <br>
                <div class="col-8">
                    <div class="alert alert-success" role="alert">{{message}}</div>
                </div>
            {% endfor %}
            {% if app.flashes('echec') %}
                <br>
                <div class="col-8">
                    <div class="alert alert-danger" role="alert">{{echec}}</div>
                </div>
            {% endif %}
            <section class="container col-8">
                <div class="row">
                    <h1 class="mt-5">Bonjour {{app.user.username}} !</h1>
                    <p class="fs-2">Vous pouvez modifier votre mot de passe ici !</p>
                    <div class="col col-5 position-absolute top-50 start-50 translate-middle border border-dark rounded-3 p-3">
                        {{ form_start(formPassword) }}
                            {{ form_row(formPassword.password) }}

                            <button type="submit" class="btn btn-primary btn-lg btn-color my-3">Modifier</button>
                        {{ form_end(formPassword) }}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
