{% extends 'base.html.twig' %}

{% block title %}Hello ProjectsMainController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-2">
        <ul class="list-unstyled px-2 text-center border-end shadow" style="min-height:100vh">
            <br>
            <li><a href="{{ path('app_main') }}" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary">Revenir au menu principal</button></a></li>
            <br>
            <li><a href="{{ path('app_projects_main') }}" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary">Projets</button></a></li>
            <br>
            <li><a href="#" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary" disabled>Univers sémantiques</button></a></li>
            <br>
            <li><a href="#" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary" disabled>Branches sémantiques</button></a></li>
            <br>
            <li><a href="#" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary" disabled>Idées</button></a></li>
            <br>
            <li><a href="#" class="text-decoration-none"><button href="#" class="btn btn-outline-secondary" disabled>Traitement</button></a></li>
        </ul>
    </div>
    <div class="col-10">
        <br>
        <div class="container">
            <div class="row bg-secondary text-center px-5 py-3 rounded-4">
                
                <div class="col border-end" >
                <p style="font-size:14px;">projets créés</p><p style="font-size:24px;">{{ projects }}</p></div>
                <div class="col border-end">
                <p style="font-size:14px;">amorces récupérées</p><p style="font-size:24px;">{{ snippets }}</p></div>
                <div class="col border-end">
                <p style="font-size:14px;">amorces traitées</p><p style="font-size:24px;">{{ truncated }}</p></div>
                <div class="col">
                <p style="font-size:14px;">suggestions</p><p style="font-size:24px;">{{ suggestions }}</p></div>

            </div>
        </div>
        <br>
        <div class="container">
        <h1>Projets</h1>
            <div class="row">
                <div class="col">
                    
                    <a href="{{ path('app_main') }}" class="text-decoration-none"><button type="button" class="btn btn-primary fw-bold"
                    style="--bs-btn-padding-y: 4rem; --bs-btn-padding-x: 4rem; --bs-btn-font-size: 3rem;">
                        <i class="fas fa-solid fa-circle-plus fa-lg"></i>
                    </button></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
