{% extends 'base.html.twig' %}

{% block title %}Hello UniversesController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-2">
        {% include "_partials/_sidenav/_app_able.html.twig" %}
    </div>
    <div class="col-10">
        {% include "_partials/_numbers.html.twig" %}
        <div class="container col-8">
            <div class="row">
                <div class="col">
                    <h1>Univers création</h1>
                    {{ form_start(universeForm) }}
                        {{ form_row(universeForm.name) }}
                        {#{{ form_row(universeForm.project)}}#}

                        <button type="submit" class="btn btn-primary btn-lg btn-color my-3">Créer</button>
                    {{ form_end(universeForm) }}
                    <br>
                    <table class="table table-hover table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Univers existants</th>
                            </tr>
                        </thead>
                            <tbody>
                            {% for universe in univTab %}
                                <tr>
                                    <td>
                                        <a href="{{ path('app_branches', { 'projectId': projectId, 'universeId': universe.id }) }}" class="text-decoration-none" style="color: black;">
                                            {{ universe.name }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
