{% extends 'base.html.twig' %}

{% block title %}UMBERTO - Idées{% endblock %}

{% block body %}
<div class="row">
    <div class="col-2">
        {% include "_partials/_sidenav/_app_able.html.twig" %}
    </div>
    <div class="col-10">
        {% include "_partials/_numbers.html.twig" %}
        <div class="container col-8">
            <div class="row">
                <div class="col">
                    {{ wo_render_breadcrumbs({separator: '>', listId: 'breadcrumbs'}) }}
                    <h1>Création d'Idée</h1>
                    {{ form_start(ideaForm) }}
                        {{ form_row(ideaForm.name) }}

                        <button type="submit" class="btn btn-primary btn-lg btn-color my-3">Créer</button>
                    {{ form_end(ideaForm) }}
                    <br>
                    <table class="table table-hover table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Idées existantes</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for idea in ideaTab %}
                            <tr>
                                <td>
                                    <a href="{{ path('app_ideas_generate',{ 'projectId': projectId, 'universeId': universeId, 'branchId': branchId, 'ideaId': idea.id }) }}" class="text-decoration-none" style="color: black;">
                                        {{ idea.name }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}